:root {
    --palette-editorial-gray: #7a7a7a;

    --palette-okabe-ito-0: #0072b2;
    --palette-okabe-ito-1: #e69f00;
    --palette-okabe-ito-2: #009e73;
    --palette-okabe-ito-3: #cc79a7;

    --palette-wong-0: #e69f00;
    --palette-wong-1: #56b4e9;
    --palette-wong-2: #009e73;
    --palette-wong-3: #f0e442;

    --palette-ibm-design-0: #648fff;
    --palette-ibm-design-1: #785ef0;
    --palette-ibm-design-2: #dc267f;
    --palette-ibm-design-3: #fe6100;

    --palette-tol-vibrant-0: #ee7733;
    --palette-tol-vibrant-1: #0077bb;
    --palette-tol-vibrant-2: #33bbee;
    --palette-tol-vibrant-3: #ee3377;

    --palette-deuteranopia-0: #005f73;
    --palette-deuteranopia-1: #ee9b00;
    --palette-deuteranopia-2: #9b2226;
    --palette-deuteranopia-3: #94d2bd;

    --palette-monochrome-0: #000000;
    --palette-monochrome-1: #404040;
    --palette-monochrome-2: #808080;
    --palette-monochrome-3: #bfbfbf;
}
